.d20-svg {
  width: 56px;
  height: 56px;
}

.d20-svg svg {
  width: 100%;
  height: 100%;
}

.face {
  fill: #f2f2f2;
  stroke: #333;
  stroke-width: 3;
}

.numero {
  font-size: 28px;
  font-weight: bold;
  fill: #000;
}

.rolando {
  animation: girar 0.6s infinite linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
